@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #a42cd6;
}
#form {
  padding: 3em;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border-radius: 50px;
  background: #a42cd6;
  box-shadow: inset 20px 20px 60px #8b25b6, inset -20px -20px 60px #bd33f6;
  width: 500px;
}
input {
  background-color: transparent;
  border: solid 1px #007bff;
  border-radius: 10px;
  padding: 0.6em;
  font-size: 10pt;
  color: aliceblue;
  width: 100%;
}
input::placeholder {
  color: aliceblue;
}
#campos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  width: 100%;
}
button {
  background-color: #007bff;
  color: aliceblue;
  border: none;
  border-radius: 16px;
  font-size: 12pt;
  padding: 0.3em;
  width: 150px;
}
